<%= render "shared/second-header"%>

<div class='registration-main'>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        登録が完了しました
      </h1>
    </div>
    <div class="top-btn">
        <%= link_to "トップへ戻る", root_path ,class:"top-blue-btn"%>
    </div>
  
   <p class='register-info'>本人情報の登録について</p>
  </div>
</div>
  
<%= render "shared/second-footer"%>
